* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}
.box {
  width: 50%;
  height: 100vh;
  text-align: center;
}
/* login side */
.login-form {
  margin-top: 50%;
  transform: translateY(-70%);
}
#login h1 {
  color: #86c323;
}
#login {
  background-color: #000000;
}

#login input {
  width: 250px;
  height: 30px;
  margin: 10px;
  border: none;
  background: inherit;
  border-bottom: 2px solid #86c323;
  outline: none;
  color: #ffffff;
}
#login .btn {
  background-color: #86c323;
  border: none;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}
/* signup side */
#signup {
  background-color: #86c323;
}
.signup-form{
    margin-top: 50%;
    transform: translateY(-70%);
}

.input {
    width: 300px;
    height: 30px;
    margin: 10px;
    border: none;
    background: inherit;
    border-bottom: 2px solid #000000;
    outline: none;
    color: #000000;
  }
.input::placeholder{
    color: #ffffff;
    opacity: 0.7;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#signup .btn{

    background-color: #000000;
    color: #86c323;
    border: none;
  width: 100px;
  height: 45px;
  border-radius: 25px;
  outline: none;
}